//===========================================
// -Header start
//===========================================


/* Header start */

header {
    display: flex;
    align-items: center;
    padding: rem(20) rem(46);
    @include bg-color-sh;
    display: flex;
    height: rem(120);

    @include mq('sm', max) {
        display: block;
        padding: rem(20) rem(12) rem(10) rem(12);
    }
}

.mobile-menu-btn {
    display: none;

    @include mq('sm', max) {
        display: inline-block;
        font-size: 20px;
        color: $secondary;

        label {
            margin-bottom: 0px;
        }
    }
}


.head-logo {
    display: flex;
    align-items: center;

    @include mq('sm', max) {
        display: block;
        text-align: center;
        margin-bottom: rem(20);

    }
}

.head-logo img {
    width: rem(247);

    @include mq('sm', max) {
        width: rem(180);
    }
}


.header-back {
    display: flex;
    align-items: baseline;
    padding-left: rem(55);
    display: flex;

    label {
        margin-bottom: rem(0);
        display: flex;
        align-items: center;
    }

    span {
        font-size: rem(32);
        font-weight: 600;
        padding-left: rem(10);
        display: flex;
        align-items: center;
    }

    // .arrow-back img {
    //     width: rem(34);
    // }

    .arrow-back {
        font-size: rem(20);
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    // img {
    //     width: rem(24);
    // }

    a {
        color: black;
    }

    .breadCrumb {
        display: flex;
        align-items: baseline;

        h6 {
            font-size: rem(18);
            margin-bottom: rem(0);
            font-weight: 600;
            margin-left: rem(12);
            // margin-top: rem(4);
        }

        i {
            font-size: rem(16);
            margin: 0px 8px;
        }

        @include mq('lg', max) {
            display: none;
        }
    }

    @include mq('sm', max) {
        padding-top: 0px;
        padding-left: 0px;
        margin-left: 20px;
        display: inline-block;

        span {
            font-size: 20px;
            font-weight: 600;
            padding-left: 0px;
        }

        img {
            width: 18px;
        }

        a {
            margin-right: 10px;
        }
    }
}



header {
    .user {
        padding-right: rem(0);
        display: flex;
        align-items: center;

        @include mq('sm', max) {
            float: right;
            padding-bottom: 0px;
            margin-top: 4px;

        }
    }

    .user-text {
        padding: rem(0);
        font-size: rem(16);


        p {
            @include size-color(rem(10), $grey-light);
            margin-bottom: rem(0);
            font-size: rem(12);
        }

        @include mq('sm', max) {
            padding: 0px;
            font-size: 10px;
            display: inline-block;
            margin-top: 0px;


            p {
                font-size: 8px;

            }
        }
    }


    .user-icon {
        padding-right: rem(5);
        padding-left: rem(15);



        span {
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: rem(57);
                height: rem(57);


                @include mq('sm', max) {
                    width: 35px;
                    height: 35px;
                }
            }

        }


        @include mq('sm', max) {
            display: inline-block;
            padding-left: 0px;
            margin-left: 10px;
        }
    }

}


.caret-down {

    margin-top: rem(8);

    .dropdown-toggle {

        @include size-color(rem(26), $grey-light);
        float: right;


        @include mq('sm', max) {
            font-size: 16px;

        }
    }

    .dropdown-menu {
        margin-right: rem(136);
        margin-top: rem(20);
        padding: rem(10) rem(0);
        font-size: rem(14);
        border-radius: 10px;
        border: none;
        box-shadow: $shadow;


        a {
            color: black;

            &:hover {
                background-color: $filter;
            }
        }

        @include mq('sm', max) {
            padding: 8px 0px;
            font-size: 12px;
            margin-top: 10px;
        }
    }

    @include mq('sm', max) {
        margin-top: 0px;


    }
}


.user-group {
    display: flex;
    align-items: center;
}



//===========================================
// -Header end
//===========================================