//===========================================
// -Header start
//===========================================


/* Header start */

header {
    display: flex;
    align-items: center;
    padding: rem(20) rem(30);
    @include bg-color-sh;
    display: flex;

    @include mq('sm', max) {
        display: block;
        padding: rem(20) rem(12) rem(10) rem(12);
    }
}

.mobile-menu-btn {
    display: none;

    @include mq('sm', max) {
        display: inline-block;
        font-size: rem(20);
        color: $secondary;

        label {
            margin-bottom: rem(0);
        }
    }
}


.head-logo {
    display: flex;
    align-items: center;

    @include mq('sm', max) {
        display: block;
        text-align: center;
        margin-bottom: rem(20);

    }
}

.head-logo img {
    width: rem(200);

    @include mq('sm', max) {
        width: rem(180);
    }
}


.header-back {
    display: flex;
    align-items: center;
    padding-left: rem(55);
    display: flex;

    label {
        margin-bottom: rem(0);
        display: flex;
        align-items: center;
    }

    span {
        font-size: rem(24);
        font-weight: bold;
        padding-left: rem(10);
    }

    .arrow-back img {
        width: rem(25);
    }

    img {
        width: rem(20);
    }

    a {
        color: black;
    }

    .breadCrumb {
        display: flex;
        align-items: center;

        h6 {
            margin-bottom: rem(0);
            font-weight: 600;
            margin-left: rem(12);
            margin-top: rem(4);
        }

        @include mq('lg', max) {
            display: none;
        }
    }

    @include mq('sm', max) {
        padding-top: rem(0);
        padding-left: rem(0);
        margin-left: rem(20);
        display: inline-block;

        span {
            font-size: rem(20);
            font-weight: 600;
            padding-left: rem(0);
        }

        img {
            width: rem(18);
        }

        a {
            margin-right: rem(10);
        }
    }
}



header {
    .user {
        padding-right: rem(0);
        display: flex;
        align-items: center;

        @include mq('sm', max) {
            float: right;
            padding-bottom: rem(0);
            margin-top: rem(4);

        }
    }

    .user-text {
        padding: rem(0);
        font-size: rem(14);


        p {
            @include size-color(rem(10), $grey-light);
            margin-bottom: rem(0)
        }

        @include mq('sm', max) {
            padding: rem(0);
            font-size: rem(10);
            display: inline-block;
            margin-top: rem(0);


            p {
                font-size: rem(8);

            }
        }
    }


    .user-icon {
        padding-right: rem(5);
        padding-left: rem(15);



        span {
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: rem(44);
                height: rem(44);


                @include mq('sm', max) {
                    width: rem(40);
                    height: rem(40);
                }
            }

        }


        @include mq('sm', max) {
            display: inline-block;
            padding-left: rem(0);
            margin-left: rem(10);
        }
    }

}


.caret-down {

    margin-top: rem(8);

    .dropdown-toggle {

        @include size-color(rem(20), $grey-light);
        float: right;

        @include mq('sm', max) {
            font-size: rem(16);

        }
    }

    .dropdown-menu {
        margin-right: rem(136);
        margin-top: rem(20);
        padding: rem(10) rem(0);
        font-size: rem(14);
        border-radius: rem(10);
        border: none;
        box-shadow: $shadow;

        a {
            color: black;

            &:hover {
                background-color: $filter;
            }
        }

        @include mq('sm', max) {
            padding: rem(8) rem(0);
            font-size: rem(12);
            margin-top: rem(10);
        }
    }

    @include mq('sm', max) {
        margin-top: rem(0);


    }
}


.user-group {
    display: flex;
    align-items: center;
}



//===========================================
// -Header end
//===========================================