//MODAL 

.modal {
    padding-right: rem(0) !important;

    .row {
        margin: rem(0);
    }

    .modal-body-container {
        margin-left: rem(-15);
        margin-bottom: rem(20);
    }

    .modal-side-color {
        min-height: 100vh;
        width: rem(95);
        height: 100%;
        //will remain in px
        margin: 0px 0px 0px -15px;
        background-color: $sky-light;
    }

    .modal-title {
        font-weight: 600;
        font-size: rem(32);
    }

    .modal-dialog {
        max-width: rem(800);
    }


    .modal-body {
        padding-bottom: rem(55);

        h6 {
            font-size: rem(18);
            font-weight: 600;
        }

        .infoico {
            float: right;
        }

        .input_field {
            width: 100%;
            font-size: rem(14);
            padding: rem(10) rem(11);
            border: rem(1) solid #b6b9bd;
            border-radius: rem(6);
            // font-weight: 600;
        }

        textarea {
            width: 100%;
            font-size: rem(14);
            padding: rem(10) rem(11);
            border: rem(1) solid #b6b9bd;
            border-radius: rem(6);
            // font-weight: 600;
        }

        #img-input {
            display: none;
        }

        .input-label {
            width: 100%;

        }

        .image-thumbnail {
            padding: rem(20);
            border: rem(1) dashed #b6b9bd;
            color: rgba(150, 155, 160, 0.7);

            img {
                width: rem(70);
            }

            span {
                font-size: rem(18);
            }

            p {
                font-size: rem(12);
            }

            .image-box {
                height: 100%;
            }

            .row {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .saved-tags {
            @include tags;
            border: none;
            padding-left: rem(0);

            span {
                padding: rem(4) rem(8);
            }
        }

        .edit-tags {
            @include tags;

            a {
                color: white;
            }
        }

        .edit-tags.collaborate {
            padding: 0;

            ul {
                margin: rem(10);
            }

            span {
                margin-bottom: 0;
            }
        }

        .search-list {
            width: 95%;
            margin-top: rem(-15);
        }

        .add-circle-icon {
            text-align: right;

            img {
                width: rem(40);
            }
        }

        .search-list.collab {
            display: block;
            box-shadow: none;
            border-radius: unset;
            margin-top: rem(15);
            min-height: rem(220);

            table {
                table-layout: fixed;
                width: 100%;

                thead {

                    tr {
                        th {
                            font-size: rem(13);
                            color: #b5b8bc;
                            text-align: center;
                            border: 0;
                            border-style: solid none;
                            padding: rem(10);
                            background-color: #eeeeee;
                        }

                        th:first-child {
                            border-left-style: solid;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }

                        th:last-child {
                            border-right-style: solid;
                            border-bottom-right-radius: 10px;
                            border-top-right-radius: 10px;
                        }

                    }

                }

                tbody {
                    position: relative;

                    tr {
                        border: 1px #ebecef solid;
                        border-radius: 10px;
                        display: block;
                        margin: rem(0) rem(5) rem(5) 0;

                        &:hover {
                            .hover-row-edit {
                                display: block;
                            }
                        }

                        td {
                            text-align: center;
                            font-size: rem(13);
                            border: 0;
                            border-style: solid none;
                            vertical-align: middle;
                            position: relative;

                            figure {
                                position: relative;
                                margin-bottom: 0;

                                span {
                                    display: inline-block;
                                    padding-left: rem(7);
                                    display: flex;
                                    padding-top: rem(5);
                                }

                                img {
                                    width: rem(30);
                                    float: left;
                                }

                                .status {
                                    height: rem(11);
                                    width: rem(11);
                                    border-radius: rem(15);
                                    flex-grow: 0;
                                    bottom: rem(-6);
                                    position: absolute;
                                    left: rem(22);
                                    box-shadow: 0 rem(4) rem(9) 0 rgba(30, 170, 231, 0.56);

                                    &.active {
                                        background-color: $success-light;
                                    }

                                    &.inactive {
                                        background-color: $danger;
                                    }

                                    @include mq('sm', max) {
                                        height: 10px;
                                        width: 10px;
                                        border-radius: 20px;
                                        bottom: 4px;
                                        left: 1px;
                                    }
                                }
                            }

                            .hover-row-edit {
                                position: absolute;
                                right: 0;
                                top: rem(10);
                                padding: rem(10);
                                background: #fff;
                                display: none;

                                span {
                                    a {
                                        color: #c4c4c4;
                                    }

                                    .tooltip-inner {
                                        margin-right: 0;
                                    }
                                }
                            }


                        }


                        .checks {
                            width: rem(20);
                        }

                        .userico {
                            width: rem(165);
                        }

                        .rolecol {
                            width: rem(125);
                        }

                        .email {
                            width: rem(100);
                        }

                        td:first-child {
                            border-left-style: solid;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }

                        td:last-child {
                            border-right-style: solid;
                            border-bottom-right-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                    }
                }
            }

            .checks {
                width: rem(30);
            }

            .userico {
                width: rem(65);
            }

            .rolecol {
                width: rem(60);
            }

            .email {
                width: rem(100);
            }

        }


        .save-project-details {
            display: flex;
            align-items: center;
            margin-top: rem(100);

            h5 {
                font-size: rem(20);
                font-weight: 600;
            }

            img {
                width: rem(100);
                margin-right: rem(40);
            }
        }

    }

    @include mq('sm', max) {
        .col-md-10 {
            padding-right: 0px;
        }

        .modal-body-container {
            padding-right: 0px !important;
        }

        .modal-body {
            padding: 0px 10px;

            .save-project-details {
                margin-top: 10px;
            }
        }

        .save-project {
            h4 {
                padding-top: 50px;
            }
        }

        .unsaved-project {
            h4 {
                padding-top: 50px;
            }
        }



    }
}

.modal-footer {
    border-top: none;
    bottom: rem(30);
    right: rem(40);
    position: absolute;

    button {
        padding: rem(6) rem(45);
        font-size: rem(18);
        border-radius: 25px;
        min-width: rem(245);
        height: rem(48);

        &:first-child {
            min-width: rem(151);
        }
    }

    @include mq('sm', max) {
        position: static;


        button {
            padding: 4px 25px;
            font-size: 12px;
            border-radius: 20px;
            min-width: 110px;
        }
    }
}

.modal-header {
    border-bottom: none;
    display: flex;
    align-items: center;

    .close_cross {
        font-size: rem(53);
        font-weight: 500;
        width: rem(34);
        height: rem(34);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        outline: none;
        border: none;
    }
}

.save-project {
    .alert-box {
        @include alert_box(rgba(36, 204, 9, 0.19), $sky-light, $success-200)
    }

    .save-check {
        margin-bottom: 80px;

        i {
            color: $success-200;
        }

        label {
            font-size: 14px;
            padding-left: 10px;
            font-weight: 600;
        }
    }
}

.unsaved-project {
    .alert-box {
        @include alert_box(rgba(231, 30, 30, 0.5), $danger-light, $danger-100);
        padding: rem(10) rem(185) rem(10) rem(35);
    }
}


.modal-section {
    .modal {
        display: block !important;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        min-width: 800px;
        height: 100vh;
        /* box-shadow: 0 10px 25px 2px rgb(0 0 0 / 10%), 0 10px 80px 5px rgb(0 0 0 / 10%); */
        transform: translateX(100%);
        transition: 0.8s all ease-out;
    }

    .show {
        transform: none;
    }

    .row {
        height: 100%;
    }

    .modal-dialog {
        margin: 0px;
        max-width: rem(877);
        height: 100%;
        margin-left: auto;
    }

    .modal-content {
        min-height: 100vh;
        //height: 100%;
        min-width: rem(877);
    }
}


.popup-section {
    .modal {

        &.show {
            display: flex !important;
            align-items: center;
        }

    }

    // Delete Confirmation Modal
    .confirm-modal {
        .modal-body {
            padding-top: rem(5);
            padding-left: rem(20);
            padding-bottom: rem(30);

            h6 {
                margin-bottom: rem(15);
                font-size: rem(18);
            }

            p {
                margin-bottom: rem(12);
            }
        }

        .modal-content {
            height: rem(371);
        }

        .modal-header {
            padding-bottom: rem(0);

            button {
                padding: 0px;
            }

            .close_cross {
                position: absolute;
                top: rem(25);
                right: rem(40);
            }
        }

        .modal-shade {
            background-color: $sky-light;
            margin-bottom: 0px;
            border-radius: 0px 0px 30px 30px;
            height: rem(263);
        }

        .modal-dialog {
            max-width: rem(663);
        }

        .modal-body-container {
            margin-left: rem(0);
        }

        p {
            font-size: rem(14);
        }

        .info {
            display: flex;
            background-color: #fff;
            padding: rem(12) rem(15) rem(0) rem(15);
            border-radius: rem(10);

            p {
                margin-top: rem(2);
            }

            img {
                width: rem(21);
            }

            span {
                margin-right: rem(12);
            }

        }

        .modal-footer {
            padding-right: rem(45);
            padding-bottom: rem(30);
            padding-top: rem(15);
            position: static;
        }

        @include mq('sm', max) {
            .modal-body-container {
                padding-left: 0px !important;
            }

            .modal-header {
                span {
                    right: 15px;
                }
            }

            .modal-footer {
                padding-right: 15px;
                padding-top: 19px;
            }

        }
    }

    .confirm-complete {
        .modal-body {
            padding-bottom: rem(0);
            padding-top: rem(0);

            img {
                width: rem(260);
            }
        }

        .modal-header {
            padding-top: rem(32);
        }

        .modal-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: rem(25);

            img {
                width: rem(30);
                margin-right: rem(15);
            }

            span {
                font-size: rem(20);
                font-weight: 600;
                color: $secondary;
            }
        }

        .project-image {
            position: relative;
            top: rem(6);
        }
    }
}




.milestone-modals {

    .modal-body {
        padding-bottom: rem(55);

        h6 {
            font-size: rem(16);
            font-weight: 600;
        }

        .input_field {
            width: 100%;
            font-size: rem(12);
            padding: rem(10) rem(12);
            border: rem(1) solid #b6b9bd;
            border-radius: rem(6);



            &::placeholder {
                color: $grey-300;
            }
        }

        textarea {
            width: 100%;
            font-size: rem(12);
            padding: rem(10) rem(12);
            border: rem(1) solid #b6b9bd;
            border-radius: rem(6);

        }

        .date {
            width: 48%;

            input {
                font-weight: normal;
            }

        }

        .custom-checkbox {
            margin-bottom: 80px;
        }
    }

    .search-list {
        ul {
            margin-bottom: rem(0);
        }

        li {
            padding: rem(7) rem(17) rem(7) rem(17);

            &:first-child {
                padding-top: rem(12);
            }

            &:last-child {
                padding-bottom: rem(10);
            }

            &:hover {
                border-radius: 0px;
            }
        }

        .search-list-items {
            span {
                font-size: rem(12);
                color: black;
                font-weight: normal;
            }

        }
    }

    .save-project {
        .alert-box {
            padding: rem(10) rem(185) rem(10) rem(50);
        }
    }
}

.text-info-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        color: #a4a4a4;

    }
}

.tree-modal-section {
    .modal-dialog {
        max-width: rem(1304);
    }

    // .modal-footer {
    //     button {
    //         &:last-child {
    //             min-width: 200px;
    //             min-height: 38px;
    //         }
    //     }
    // }
}

.testplan-modals {
    .jstree-container-ul {
        font-size: rem(12);


    }

    .jstree-default .jstree-icon {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .counts {
        color: $secondary-text-color;
        font-size: rem(11);
    }

    .modal-header {
        padding-bottom: rem(5);
    }

    .modal-body {
        padding-top: rem(0);

        .custom-checkbox {
            label {
                font-size: rem(12);
                font-weight: 500;
                padding-left: rem(5);

                &::before {
                    top: 0;
                    //top: auto;
                    // width: rem(18);
                    // height: rem(18);
                }

                &::after {
                    top: 0;
                    //top: auto;
                    // width: rem(19);
                    // height: rem(19);
                }
            }

            input {
                top: auto;
            }

        }

        .selected-cases {
            padding: rem(0) rem(0) rem(10) rem(10);
            font-size: rem(16);
            color: $secondary-text-color;
        }

        .login-auth {
            border: 1px solid $grey-300;
            //flex-grow: 5;
            flex: 1;
            position: relative;

            &__head {
                font-size: rem(14);

                span {
                    font-weight: 600;

                    i {
                        font-size: rem(12);
                        padding: rem(0) rem(2);
                    }
                }

                a {
                    color: black;
                }

                .ellipsis-dots {
                    color: $secondary;
                }
            }

            .close-btn {
                position: absolute;
                right: rem(-20);
                top: 50%;
                z-index: 1;
                width: rem(40);
                height: rem(40);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: rem(30);
            }

            .open-btn {
                position: absolute;
                right: rem(-60);
                top: 50%;
                z-index: 1;
                min-width: rem(90);
                height: rem(38);
                font-size: rem(12);
                display: flex;
                align-items: center;
                justify-content: space-around;

                i {
                    font-size: rem(14);
                }
            }

            .cases-selection__head {
                span {
                    margin-bottom: 0px;
                }
            }

        }


        .cases-selection {
            border: 1px solid $grey-300;
            border-right: none;

            //flex-grow: 3;

            &__head {
                span {
                    font-size: rem(14);
                    display: block;
                    border-bottom: 1px solid $grey-light;
                    padding-bottom: rem(10);
                    margin-bottom: rem(15);
                }

                a {
                    &:first-child {
                        padding-right: rem(5);
                        border-right: 2px solid black;
                    }

                    color: $secondary;
                }
            }

            &__body {
                font-size: rem(12);
                height: rem(400);
                overflow: auto;

                .custom-control {
                    border-bottom: 1px solid #c4c4c4;
                    padding-bottom: rem(10);
                    padding-top: rem(10);
                    display: flex;
                    padding-left: rem(30);

                    input {
                        width: rem(24);
                    }

                    span {
                        // display: block;
                        // width: 100%;
                        // text-overflow: ellipsis;
                        // max-height: 40px;
                        // overflow: hidden;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        word-wrap: break-word;
                    }

                    &:hover {
                        background-color: #f4f6f7;
                    }

                    label {


                        &::before {
                            //top: 0;
                            // width: 18px;
                            // height: 18px;
                        }

                        &::after {
                            //top: 0;
                            // width: 18px;
                            // height: 18px;
                        }
                    }
                }
            }

        }

        .apply-filters {
            border: 1px solid $grey-300;
            border-left: none;
            //flex-grow: 2;
            min-width: rem(245);


            &__head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: rem(50);

                button {
                    font-size: rem(14);
                    min-width: rem(156);
                    height: rem(38);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;


                    i {
                        color: white;

                    }
                }

                i {
                    color: $grey-300;
                }

                .dropdown-menu {
                    transform: translate3d(0px, rem(50), 0px) !important;
                }
            }

            .accordion {
                font-size: rem(12);

                &__head {
                    padding: rem(5) rem(10);
                    border-top: 1px solid $grey-300;
                    display: flex;
                    align-items: baseline;

                    button {
                        margin-right: rem(5);
                        font-size: rem(12);
                    }
                }

                &-body {

                    padding-left: rem(25);
                    margin-bottom: rem(10);
                }
            }
        }

        .filter-empty-box {
            border: 1px solid $grey-300;
            width: 100px;
            border-left: none;
        }

        .tree-section {
            padding: rem(15);

            // span {
            //     font-size: rem(14);
            // }
        }
    }
}


.jstree-anchor {
    .jstree-icon.jstree-checkbox {
        background: url("../images/uncheckbox.png") no-repeat !important;
        margin-right: rem(5);
    }


}

.jstree-anchor.jstree-clicked {
    .jstree-icon.jstree-checkbox {
        background: url("../images/checkbox.png") no-repeat !important;
        margin-right: rem(5);
    }
}

.jstree-default .jstree-clicked {
    background: none;
}

li.jstree-open>a .jstree-themeicon {
    //background: url("https://img.icons8.com/ios/20/000000/opened-folder.png") 0px 0px no-repeat !important;

    background: url("../images/open-folder.png") 0px 0px no-repeat !important;
}



li.jstree-closed>a .jstree-themeicon {
    // background: url("https://img.icons8.com/ios/20/000000/folder-invoices--v1.png") 0px 0px no-repeat !important;
    background: url('../images/folder.png') 0px 0px no-repeat !important;
}

a .jstree-themeicon {
    // background: url("https://img.icons8.com/ios/20/000000/folder-invoices--v1.png") 0px 0px no-repeat !important;
    background: url('../images/folder.png') 0px 0px no-repeat !important;
}



/* replace checkbox icons 
    li.jstree-leaf > a .jstree-icon { display: none; }
    li.jstree-unchecked > a .jstree-checkbox, li.jstree-undetermined > a .jstree-checkbox 
    {
        background:url("uncheckedImage.png") 0px 0px no-repeat !important;
        width: 32px;
        height: 29px;
        padding-top: 5px;
    }
    li.jstree-checked > a .jstree-checkbox
    {
        background:url("checkedImage.png") 0px 0px no-repeat !important;
        width: 32px;
        height: 29px;
        padding-top: 5px;
    }
    */


/* For mobile phones: */


.trow::after {
    content: "";
    clear: both;
    display: table;

}

[class*="tcol-"] {
    float: left;
    padding: rem(5);
}


/* For desktop: */
.tcol-1 {
    width: 8.33%;
}

.tcol-2 {
    width: 16.66%;
}

.tcol-3 {
    width: 25%;
}

.tcol-4 {
    width: 33.33%;
}

.tcol-5 {
    width: 41.66%;
}

.tcol-6 {
    width: 50%;
}

.tcol-7 {
    width: 58.33%;
}

.tcol-8 {
    width: 66.66%;
}

.tcol-9 {
    width: 75%;
}

.tcol-10 {
    width: 83.33%;
}

.tcol-11 {
    width: 91.66%;
}

.tcol-12 {
    width: 100%;
}




/* Add Configuraion */
.add-configuration-content {

    .icon-warning {
        color: #e71e1e;
    }

    .input_field.required {
        background: rgba(231, 30, 30, 0.06);
        border: 2px solid #e71e1e;
    }

    .modal-body {
        padding-top: 0;

        th,
        td {

            padding: rem(8) rem(10);

            .custom-checkbox {
                margin-left: rem(5);
            }

        }

        .search-list.collab {
            .checks {
                width: rem(60);
            }
        }

        .custom-checkbox {
            margin-bottom: 0;
        }
    }

    .config {
        width: rem(260);
    }

    .group {
        width: rem(260);
        position: relative;

        .trash-icon {
            position: absolute;
            right: rem(20);
            top: rem(12);
            display: none;

            .icon-trash {
                color: #c4c4c4;
            }
        }

        &:hover {
            .trash-icon {
                display: block;
            }
        }
    }


    .panel {
        border-bottom: 1px solid #ebebeb;

        .text-info-icon {
            span {
                font-size: rem(13);
                color: #e71e1e;
            }
        }
    }

    .panel-title {

        margin-bottom: 0;

        a {
            display: block;
            text-decoration: none;
            color: #000;
            font-size: rem(18);
            padding: rem(20) 0 rem(25);

            &[aria-expanded="true"] {
                background: url(/assets/images/accordian-active.png) no-repeat 99%;
                background-size: 20px;

            }

            &[aria-expanded="false"] {
                background: url(/assets/images/add-circle.png) no-repeat right;
                background-size: 35px;
            }

        }
    }

}


.addgroup,
.addconfig {
    .btn {
        margin-left: rem(20);
        width: rem(150);
        border: 1px solid #969ba0;

        &:hover {
            border: 1px solid #1eaae7
        }
    }
}