//MODAL 

// .modal {
//     padding-right: rem(0) !important;

//     .modal-dialog {
//         margin-top: rem(80);
//         margin-right: rem(0);
//         margin-left: auto;
//     }
// }

.modal {
    padding-right: rem(0) !important;

    .row {
        margin: rem(0);
    }

    .modal-body-container {
        margin-left: rem(-15);
        margin-bottom: rem(20);
    }

    .modal-side-color {
        min-height: 100vh;
        width: rem(95);
        height: 100%;
        margin: rem(0) rem(0) rem(0) rem(-15);
        background-color: $sky-light;
    }

    .modal-title {
        font-weight: 600;
        font-size: rem(24);
    }

    .modal-dialog {
        max-width: rem(800);
    }


    .modal-body {
        padding-bottom: rem(55);

        h6 {
            font-size: rem(16);
            font-weight: 600;
        }

        .infoico {
            float: right;
        }

        .input_field {
            width: 100%;
            font-size: rem(12);
            padding: rem(10) rem(11);
            border: rem(1) solid #b6b9bd;
            border-radius: rem(6);
            // font-weight: 600;
        }

        textarea {
            width: 100%;
            font-size: rem(12);
            padding: rem(10) rem(11);
            border: rem(1) solid #b6b9bd;
            border-radius: rem(6);
            // font-weight: 600;
        }

        #img-input {
            display: none;
        }

        .input-label {
            width: 100%;

        }

        .image-thumbnail {
            padding: rem(20);
            border: rem(1) dashed #b6b9bd;
            color: rgba(150, 155, 160, 0.7);

            img {
                width: rem(70);
            }

            span {
                font-size: rem(14);
            }

            p {
                font-size: rem(12);
            }

            .image-box {
                height: 100%;
            }

            .row {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .saved-tags {
            @include tags;
            border: none;
            padding-left: rem(0);

            span {
                padding: rem(4) rem(8);
            }
        }

        .edit-tags {
            @include tags;

            a {
                color: white;
            }
        }

        .edit-tags.collaborate {
            padding: 0;

            ul {
                margin: 10px;
            }

            span {
                margin-bottom: 0;
            }
        }

        .search-list {
            width: 95%;
            margin-top: rem(-15);
        }

        .add-circle-icon {
            text-align: right;

            img {
                width: 40px;
            }
        }

        .search-list.collab {
            display: block;
            box-shadow: none;
            border-radius: unset;
            margin-top: 15px;
            min-height: 220px;

            table {
                table-layout: fixed;
                width: 100%;

                thead {

                    tr {
                        th {
                            font-size: 13px;
                            color: #b5b8bc;
                            text-align: center;
                            border: 0;
                            border-style: solid none;
                            padding: 10px;
                            background-color: #eeeeee;
                        }

                        th:first-child {
                            border-left-style: solid;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }

                        th:last-child {
                            border-right-style: solid;
                            border-bottom-right-radius: 10px;
                            border-top-right-radius: 10px;
                        }

                    }

                }

                tbody {
                    position: relative;

                    tr {
                        border: 1px #ebecef solid;
                        border-radius: 10px;
                        display: block;
                        margin: 0px 5px 5px 0;

                        &:hover {
                            .hover-row-edit {
                                display: block;
                            }
                        }

                        td {
                            text-align: center;
                            font-size: 13px;
                            border: 0;
                            border-style: solid none;
                            vertical-align: middle;
                            position: relative;

                            figure {
                                position: relative;
                                margin-bottom: 0;

                                span {
                                    display: inline-block;
                                    padding-left: 7px;
                                    display: flex;
                                    padding-top: 5px;
                                }

                                img {
                                    width: 30px;
                                    float: left;
                                }

                                .status {
                                    height: rem(11);
                                    width: rem(11);
                                    border-radius: rem(15);
                                    flex-grow: 0;
                                    bottom: -6px;
                                    position: absolute;
                                    left: 22px;
                                    box-shadow: 0 rem(4) rem(9) 0 rgba(30, 170, 231, 0.56);

                                    &.active {
                                        background-color: $success-light;
                                    }

                                    &.inactive {
                                        background-color: $danger;
                                    }

                                    @include mq('sm', max) {
                                        height: rem(10);
                                        width: rem(10);
                                        border-radius: rem(20);
                                        bottom: rem(4);
                                        left: rem(1);
                                    }
                                }
                            }

                            .hover-row-edit {
                                position: absolute;
                                right: 0;
                                top: 10px;
                                padding: 10px;
                                background: #fff;
                                display: none;

                                span {
                                    a {
                                        color: #c4c4c4;
                                    }

                                    .tooltip-inner {
                                        margin-right: 0;
                                    }
                                }
                            }


                        }


                        .checks {
                            width: 20px;
                        }

                        .userico {
                            width: 165px;
                        }

                        .rolecol {
                            width: 125px;
                        }

                        .email {
                            width: 100px;
                        }

                        td:first-child {
                            border-left-style: solid;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }

                        td:last-child {
                            border-right-style: solid;
                            border-bottom-right-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                    }
                }
            }

            .checks {
                width: 30px;
            }

            .userico {
                width: 65px;
            }

            .rolecol {
                width: 60px;
            }

            .email {
                width: 100px;
            }

        }


        .save-project-details {
            display: flex;
            align-items: center;
            margin-top: rem(100);

            h5 {
                font-size: rem(20);
                font-weight: 600;
            }

            img {
                width: rem(100);
                margin-right: rem(40);
            }
        }

    }

    @include mq('sm', max) {
        .col-md-10 {
            padding-right: rem(0);
        }

        .modal-body-container {
            padding-right: rem(0) !important;
        }

        .modal-body {
            padding: rem(0) rem(10);

            .save-project-details {
                margin-top: rem(10);
            }
        }

        .save-project {
            h4 {
                padding-top: rem(50);
            }
        }

        .unsaved-project {
            h4 {
                padding-top: rem(50);
            }
        }



    }
}

.modal-footer {
    border-top: none;
    bottom: rem(30);
    right: rem(40);
    position: absolute;

    button {
        padding: rem(6) rem(45);
        font-size: rem(14);
        border-radius: rem(20);
        min-width: rem(150);
    }

    @include mq('sm', max) {
        position: static;


        button {
            padding: rem(4) rem(25);
            font-size: rem(12);
            border-radius: rem(20);
            min-width: rem(110);
        }
    }
}

.modal-header {
    border-bottom: none;
    display: flex;
    align-items: center;

    .close_cross {
        font-size: rem(40);
        font-weight: 500;
    }

    button {
        outline: none;
        border: none;
    }
}

.save-project {
    .alert-box {
        @include alert_box(rgba(36, 204, 9, 0.19), $sky-light, $success-200)
    }

    .save-check {
        margin-bottom: 80px;

        i {
            color: $success-200;
        }

        label {
            font-size: 14px;
            padding-left: 10px;
            font-weight: 600;
        }
    }
}

.unsaved-project {
    .alert-box {
        @include alert_box(rgba(231, 30, 30, 0.5), $danger-light, $danger-100);
        padding: rem(10) rem(185) rem(10) rem(35);
    }
}


.modal-section {
    .modal {
        display: block !important;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        min-width: 800px;
        height: 100vh;
        /* box-shadow: 0 10px 25px 2px rgb(0 0 0 / 10%), 0 10px 80px 5px rgb(0 0 0 / 10%); */
        transform: translateX(100%);
        transition: 0.8s all ease-out;
    }

    .show {
        transform: none;
    }

    .row {
        height: 100%;
    }

    .modal-dialog {
        margin: 0px;
        max-width: rem(800);
        height: 100%;
        margin-left: auto;
    }

    .modal-content {
        min-height: 100%;
        min-width: 750px;
    }
}


.popup-section {
    .modal {

        &.show {
            display: flex !important;
            align-items: center;
        }

    }

    // Delete Confirmation Modal
    .confirm-modal {
        .modal-body {
            padding-top: rem(5);
            padding-left: rem(20);
            padding-bottom: rem(30);

            h6 {
                margin-bottom: rem(15);
            }

            p {
                margin-bottom: rem(12);
            }
        }

        .modal-header {
            padding-bottom: rem(0);

            button {
                padding: 0px;
            }

            .close_cross {
                position: absolute;
                top: rem(14);
            }
        }

        .modal-shade {
            background-color: $sky-light;
            margin-bottom: rem(0);
            border-radius: rem(0) rem(0) rem(30) rem(30);
        }

        .modal-dialog {
            max-width: rem(600);
        }

        .modal-body-container {
            margin-left: rem(0);
        }

        p {
            font-size: rem(12);
        }

        .info {
            display: flex;
            background-color: #fff;
            padding: rem(12) rem(15) rem(0) rem(15);
            border-radius: rem(10);

            p {
                margin-top: rem(2);
            }

            img {
                width: rem(21);
            }

            span {
                margin-right: rem(12);
            }

        }

        .modal-footer {
            padding-right: rem(45);
            padding-bottom: rem(30);
            padding-top: rem(15);
            position: static;
        }

        @include mq('sm', max) {
            .modal-body-container {
                padding-left: rem(0) !important;
            }

            .modal-header {
                span {
                    right: rem(15);
                }
            }

            .modal-footer {
                padding-right: rem(15);
                padding-top: rem(19);
            }

        }
    }

    .confirm-complete {
        .modal-body {
            padding-bottom: rem(0);
            padding-top: rem(0);

            img {
                width: rem(260);
            }
        }

        .modal-header {
            padding-top: rem(0);
        }

        .modal-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: rem(25);

            img {
                width: rem(30);
                margin-right: rem(15);
            }

            span {
                font-size: rem(20);
                font-weight: 600;
                color: $secondary;
            }
        }

        .project-image {
            position: relative;
            top: rem(10);
        }
    }
}




.milestone-modals {

    .modal-body {
        padding-bottom: rem(55);

        h6 {
            font-size: rem(16);
            font-weight: 600;
        }

        .input_field {
            width: 100%;
            font-size: rem(12);
            padding: rem(10) rem(12);
            border: rem(1) solid #b6b9bd;
            border-radius: rem(6);



            &::placeholder {
                color: $grey-300;
            }
        }

        textarea {
            width: 100%;
            font-size: rem(12);
            padding: rem(10) rem(12);
            border: rem(1) solid #b6b9bd;
            border-radius: rem(6);

        }

        .date {
            width: 48%;

            input {
                font-weight: normal;
            }

        }

        .custom-checkbox {
            margin-bottom: 80px;
        }
    }

    .search-list {
        ul {
            margin-bottom: rem(0);
        }

        li {
            padding: rem(7) rem(17) rem(7) rem(17);

            &:first-child {
                padding-top: rem(12);
            }

            &:last-child {
                padding-bottom: rem(10);
            }

            &:hover {
                border-radius: 0px;
            }
        }

        .search-list-items {
            span {
                font-size: rem(12);
                color: black;
                font-weight: normal;
            }

        }
    }

    .save-project {
        .alert-box {
            padding: rem(10) rem(185) rem(10) rem(50);
        }
    }
}

.text-info-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        color: #a4a4a4;

    }
}

.tree-modal-section {
    .modal-dialog {
        max-width: 1304px;
    }

    .modal-footer {
        button {
            &:last-child {
                min-width: 200px;
                min-height: 38px;
            }
        }
    }
}

.testplan-modals {

    .counts {
        color: $secondary-text-color;
    }

    .modal-header {
        padding-bottom: 5px;
    }

    .modal-body {
        padding-top: 0px;

        .custom-checkbox {
            label {
                font-weight: 500;
                padding-left: 5px;

                // &::before {
                //     top: auto;
                // }

                // &::after {
                //     top: auto;
                // }
            }

        }

        .selected-cases {
            padding: 0px 0px 10px 10px;
            font-size: 16px;
            color: $secondary-text-color;
        }

        .login-auth {
            border: 1px solid $grey-300;
            //flex-grow: 5;
            flex: 1;
            position: relative;

            &__head {
                span {
                    font-weight: 600;

                    i {
                        font-size: 12px;
                        padding: 0px 2px;
                    }
                }

                a {
                    color: black;
                }

                .ellipsis-dots {
                    color: $secondary;
                }
            }

            .close-btn {
                position: absolute;
                right: -20px;
                top: 50%;
                z-index: 1;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
            }

            .open-btn {
                position: absolute;
                right: -60px;
                top: 50%;
                z-index: 1;
                min-width: 90px;
                height: 38px;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                i {
                    font-size: 14px;
                }
            }

            .cases-selection__head {
                span {
                    margin-bottom: 0px;
                }
            }

        }


        .cases-selection {
            border: 1px solid $grey-300;
            border-right: none;

            //flex-grow: 3;

            &__head {
                span {
                    font-size: 14px;
                    display: block;
                    border-bottom: 1px solid $grey-light;
                    padding-bottom: 10px;
                    margin-bottom: 15px;
                }

                a {
                    &:first-child {
                        padding-right: 5px;
                        border-right: 2px solid black;
                    }

                    color: $secondary;
                }
            }

            &__body {
                height: 400px;
                overflow: auto;

                .custom-control {
                    border-bottom: 1px solid #c4c4c4;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    display: flex;
                    padding-left: 30px;

                    input {
                        width: 24px;
                    }

                    span {
                        // display: block;
                        // width: 100%;
                        // text-overflow: ellipsis;
                        // max-height: 40px;
                        // overflow: hidden;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        word-wrap: break-word;
                    }

                    &:hover {
                        background-color: #f4f6f7;
                    }
                }
            }

        }

        .apply-filters {
            border: 1px solid $grey-300;
            border-left: none;
            //flex-grow: 2;
            min-width: 245px;


            &__head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 50px;

                button {
                    font-size: 14px;
                    min-width: 156px;
                    height: 38px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;


                    i {
                        color: white;

                    }
                }

                i {
                    color: $grey-300;
                }

                .dropdown-menu {
                    transform: translate3d(0px, 50px, 0px) !important;
                }
            }

            .accordion {
                &__head {
                    padding: 5px 10px;
                    border-top: 1px solid $grey-300;
                    display: flex;
                    align-items: baseline;

                    button {
                        margin-right: 5px;
                        font-size: 12px;
                    }
                }

                &-body {
                    padding-left: 25px;
                    margin-bottom: 10px;
                }
            }
        }

        .filter-empty-box {
            border: 1px solid $grey-300;
            width: 100px;
            border-left: none;
        }

        .tree-section {
            padding: 15px;

            span {
                font-size: 14px;
            }
        }
    }
}


.jstree-anchor {
    .jstree-icon.jstree-checkbox {
        background: url("../images/uncheckbox.png") no-repeat !important;
    }


}

.jstree-anchor.jstree-clicked {


    .jstree-icon.jstree-checkbox {
        background: url("../images/checkbox.png") no-repeat !important;
    }
}

.jstree-default .jstree-clicked {
    background: none;
}

li.jstree-open>a .jstree-themeicon {
    //background: url("https://img.icons8.com/ios/20/000000/opened-folder.png") 0px 0px no-repeat !important;

    background: url("../images/open-folder.png") 0px 0px no-repeat !important;
}



li.jstree-closed>a .jstree-themeicon {
    // background: url("https://img.icons8.com/ios/20/000000/folder-invoices--v1.png") 0px 0px no-repeat !important;
    background: url('../images/folder.png') 0px 0px no-repeat !important;
}

a .jstree-themeicon {
    // background: url("https://img.icons8.com/ios/20/000000/folder-invoices--v1.png") 0px 0px no-repeat !important;
    background: url('../images/folder.png') 0px 0px no-repeat !important;
}





/* replace checkbox icons 
    li.jstree-leaf > a .jstree-icon { display: none; }
    li.jstree-unchecked > a .jstree-checkbox, li.jstree-undetermined > a .jstree-checkbox 
    {
        background:url("uncheckedImage.png") 0px 0px no-repeat !important;
        width: 32px;
        height: 29px;
        padding-top: 5px;
    }
    li.jstree-checked > a .jstree-checkbox
    {
        background:url("checkedImage.png") 0px 0px no-repeat !important;
        width: 32px;
        height: 29px;
        padding-top: 5px;
    }
    */


/* For mobile phones: */


.trow::after {
    content: "";
    clear: both;
    display: table;

}

[class*="tcol-"] {
    float: left;
    padding: 5px;
}


/* For desktop: */
.tcol-1 {
    width: 8.33%;
}

.tcol-2 {
    width: 16.66%;
}

.tcol-3 {
    width: 25%;
}

.tcol-4 {
    width: 33.33%;
}

.tcol-5 {
    width: 41.66%;
}

.tcol-6 {
    width: 50%;
}

.tcol-7 {
    width: 58.33%;
}

.tcol-8 {
    width: 66.66%;
}

.tcol-9 {
    width: 75%;
}

.tcol-10 {
    width: 83.33%;
}

.tcol-11 {
    width: 91.66%;
}

.tcol-12 {
    width: 100%;
}








/* Add Configuraion */
.add-configuration-content {

    .icon-warning {
        color: #e71e1e;
    }

    .input_field.required {
        background: rgba(231, 30, 30, 0.06);
        border: 2px solid #e71e1e;
    }

    .modal-body {
        padding-top: 0;

        th,
        td {

            padding: 8px 10px;

            .custom-checkbox {
                margin-left: 5px;
            }

        }

        .search-list.collab {
            .checks {
                width: 60px;
            }
        }

        .custom-checkbox {
            margin-bottom: 0;
        }
    }

    .config {
        width: 260px;
    }

    .group {
        width: 260px;
        position: relative;

        .trash-icon {
            position: absolute;
            right: 20px;
            top: 12px;
            display: none;

            .icon-trash {
                color: #c4c4c4;
            }
        }

        &:hover {
            .trash-icon {
                display: block;
            }
        }
    }


    .panel {
        border-bottom: 1px solid #ebebeb;

        .text-info-icon {
            span {
                font-size: 13px;
                color: #e71e1e;
            }
        }
    }

    .panel-title {

        margin-bottom: 0;

        a {
            display: block;
            text-decoration: none;
            color: #000;
            font-size: 18px;
            padding: 20px 0 25px;

            &[aria-expanded="true"] {
                background: url(/assets/images/accordian-active.png) no-repeat 99%;
                background-size: 20px;

            }

            &[aria-expanded="false"] {
                background: url(/assets/images/add-circle.png) no-repeat right;
                background-size: 35px;
            }

        }
    }

}


.addgroup,
.addconfig {
    .btn {
        margin-left: 20px;
        width: 150px;
        border: 1px solid #969ba0;

        &:hover {
            border: 1px solid #1eaae7
        }
    }
}