//===========================================
// -Navbar start
//===========================================


#nav-toggle {
    display: none;

    &:checked+.sidebar {
        width: rem(115);


        .sidebar-menu {
            li {
                padding-left: 0rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .sidebar-menu a {
            padding-left: rem(0);

            span {
                &:first-child {
                    margin-right: 0px;
                }
            }
        }

        .sidebar-hamburger {
            padding-left: rem(46);
        }

        li a span:last-child {
            display: none;
        }



        @include mq('xl', max) {
            display: block;
            width: rem(345);
            padding-top: rem(0);
            overflow-y: auto;


            .sidebar-menu {
                li {
                    padding-left: rem(48);
                    display: block;
                }
            }

            .sidebar-menu a {
                //padding-left: rem(10);

                span {
                    &:first-child {
                        margin-right: rem(20);
                    }
                }
            }

            .sidebar-hamburger {
                display: block;
                padding-left: rem(80);
            }

            li a span:last-child {
                display: inline-block;
            }
        }

        @include mq('sm', max) {
            padding-top: rem(130);

            .sidebar-hamburger {
                display: none;
            }
        }
    }

    &:checked~.main-content {
        margin-left: rem(115);

        .page-nav {
            width: calc(100% - 7.1875rem);
        }

        @include mq('xxxl', max) {
            .chart {
                #myChart {
                    height: 445px !important;
                }
            }
        }

        @include mq('sm', max) {
            margin-left: 0px;
        }
    }

}



//===========================================
// -Navbar end
//===========================================