.sidebar {
    background-color: $primary;
    z-index: 100;
    box-shadow: 0 rem(15) rem(15) 0 #ebebeb;
    width: rem(345);
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    color: $grey-light;
    overflow-y: auto;

    @include mq('xl', max) {
        width: rem(115);

        .sidebar-menu {
            li {
                padding-left: rem(16);
            }
        }

        .sidebar-menu a {
            padding-left: rem(0);
        }

        .sidebar-hamburger {
            padding-left: rem(48);
        }

        li a span:last-child {
            display: none;
        }
    }

    @include mq('sm', max) {
        display: none;
    }

}

.sidebar-hamburger {
    padding: rem(48) rem(0) rem(16) rem(75);

    label {
        margin-bottom: 0px;
    }

    span {
        display: inline-block;
        cursor: pointer;
        padding-top: rem(120);

        i {
            font-size: rem(24);
            color: $secondary;
        }
    }
}

.sidebar-menu {
    margin-top: rem(16);

    li {
        width: 100%;
        margin-bottom: rem(18);
        padding-left: 3rem;
    }

    a {
        font-size: rem(16);
        color: $grey-light;
        display: block;
        display: flex;
        align-items: center;

        &:hover {
            color: $secondary;
        }

        &.active {
            span {
                &:first-child {
                    background-color: $secondary;
                    border-radius: 50%;
                    box-shadow: $shadow2;
                    color: white;

                }

                i {
                    font-weight: 600;
                }

                &:last-child {
                    color: black;
                    font-weight: 600;
                }
            }
        }

        span {
            &:first-child {
                font-size: rem(32);
                //padding: rem(11) rem(15) rem(7) rem(15);
                margin-right: rem(20);
                width: rem(80);
                height: rem(80);
                display: flex;
                align-items: center;
                justify-content: center;

                @include mq('xl', max) {
                    margin-right: 0px;
                }
            }

            &:last-child {
                font-weight: 500;
                font-size: rem(18);
            }
        }

    }
}