// Tabs
.page-nav {

    position: fixed;
    background-color: #f9f9f9;
    z-index: 99;
    width: calc(100% - 21.5625rem);
    margin-left: rem(-10);
    box-shadow: $shadow;

    @include mq('xl', max) {
        width: calc(100% - 7.1875rem);
    }

    @include mq('sm', max) {
        width: 100%;
        margin-left: rem(0);
        padding-left: rem(5);

    }
}

.header-nav {
    padding-left: rem(25);

    ul {
        font-size: rem(18);
        display: flex;
        list-style: none;
        white-space: nowrap;
        margin-bottom: rem(2);

        @include mq('sm', max) {
            white-space: nowrap;
        }

        @include mq('xl', max) {
            overflow-x: auto;
        }

        li {
            display: inline-block;
            margin-right: rem(20);
            padding-top: rem(20);
            padding-bottom: rem(4);

            a {
                text-decoration: none;
                color: $grey-light;
                padding: rem(0) rem(20) rem(5) rem(20);

                &:hover {
                    color: black;
                }

                &.active {
                    border-bottom: rem(4) solid $secondary;
                    font-weight: bold;
                    color: black !important;
                }

            }

        }
    }

}