// Tabs
.page-nav {

    position: fixed;
    background-color: #f9f9f9;
    z-index: 99;
    width: calc(100% - 17.625rem);
    margin-left: -10px;
    box-shadow: $shadow;

    @include mq('xl', max) {
        width: calc(100% - 5.625rem);
    }

    @include mq('sm', max) {
        width: 100%;
        margin-left: 0px;
        padding-left: 5px;

    }
}

.header-nav {
    padding-left: 25px;
    ul {
        display: flex;
        list-style: none;
        white-space: nowrap;
        margin-bottom: 2px;

        @include mq('sm', max) {
            white-space: nowrap;
        }

        @include mq('xl', max) {
            overflow-x: scroll;
        }

        li {
            display: inline-block;
            margin-right: rem(20);
            padding-top: rem(20);
            padding-bottom: rem(4);

            a {
                text-decoration: none;
                color: $grey-light;
                padding: rem(0) rem(20) rem(5) rem(20);

                &:hover {
                    color: black;
                }

                &.active {
                    border-bottom: rem(4) solid $secondary;
                    font-weight: bold;
                    color: black !important;
                }

            }

        }
    }

}