//===========================================
// -Buttons start
//===========================================

.btn {
  cursor: pointer;
  border-radius: rem(30);

  // background: red !important;
  &[disabled],
  &.disabled {
    cursor: not-allowed;
  }

  &.btn-navy-blue {
    background-color: $navy-blue;
    color: white;

    &:hover {
      background-color: darken($navy-blue, 20%);
    }
  }

  &.btn-grey-100 {
    background-color: $grey-100;
    color: white;

    &:hover {
      background-color: darken($grey-100, 20%);

    }
  }

  &.btn-secondary-border {
    border: rem(2) solid $secondary;
    background-color: white;
    color: $secondary;

    // &:hover {
    //   background-color: darken($grey-100, 20%);

    // }
  }

  &.btn-success-100 {
    background-color: $success-100;
    color: white;

    &:hover {
      background-color: darken($success-100, 20%);

    }
  }

  &.btn-light-border {
    border: rem(2) solid $grey-100;
    color: $grey-100;
    background-color: white;

    &:hover {
      background-color: $secondary;
      border: rem(2) solid $secondary;
      color: white;
    }
  }

  &.btn-secondary-color {
    background-color: $secondary;
    color: white;
    border: rem(2) solid $secondary;

    &:hover {
      background-color: darken($secondary, 20%);

    }
  }

  &.btn-warning-color {
    background-color: #f3c214;
    color: white;

    &:hover {
      background-color: darken(#f3c214, 20%);

    }
  }
}


//===========================================
// -Buttons end
//===========================================