//===========================================
// -Buttons start
//===========================================

.btn {
  cursor: pointer;
  border-radius: rem(30);

  // background: red !important;
  &[disabled],
  &.disabled {
    cursor: not-allowed;
  }

  &.btn-navy-blue {
    background-color: $navy-blue;
    color: white;

    &:hover {
      background-color: darken($navy-blue, 20%);
    }
  }

  &.btn-grey-100 {
    background-color: $grey-100;
    color: white;

    &:hover {
      background-color: darken($grey-100, 20%);
    }
  }

  &.btn-secondary-border {
    border: rem(2) solid $secondary;
    background-color: white;
    color: $secondary;

    // &:hover {
    //   background-color: darken($grey-100, 20%);

    // }
  }

  &.btn-success-100 {
    background-color: $success-100;
    color: white;

    &:hover {
      background-color: darken($success-100, 20%);
    }
  }

  &.btn-light-border {
    border: rem(2) solid $grey-300;
    color: $grey-300;
    background-color: white;

    &:hover {
      background-color: $secondary;
      border: rem(2) solid $secondary;
      color: white;
    }
  }

  &.btn-secondary-color {
    background-color: $secondary;
    color: white;
    border: rem(2) solid $secondary;

    &:hover {
      background-color: darken($secondary, 20%);
    }
  }

  &.btn-warning-color {
    background-color: #f3c214;
    color: white;

    &:hover {
      background-color: darken(#f3c214, 20%);
    }
  }

  &.btn-icon {
    font-size: 14px;
    min-width: 190px;
    min-height: 46px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }

  &.btn-status {
    width: rem(114);
    height: rem(34);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-weight: lighter;
    span {
      font-size: 16px;
    }
    &:focus {
      outline: none;
    }
    i {
      color: white;
    }
    &.passed {
      background-color: $passed;
    }
    &.failed {
      background-color: $failed;
    }
    &.retest{
      background-color: $warning;
    }
    &.partial{
      background-color: $secondary;
    }
    &.blocked{
      background-color: $dark-blue;
    }
    &.untested{
      background-color: $grey-light-300;
    }

  }
}

//===========================================
// -Buttons end
//===========================================
