//===========================================
// -Helper Classes start
//===========================================

.center {
  margin: auto;
}

// Search list Class

.search-list {
  box-shadow: 0 rem(10) rem(49) 0 rgba(0, 0, 0, 0.13);
  border-radius: rem(12);
  background-color: white;
  position: absolute;
  z-index: 1;
  //width: 100%;
  display: none;
  max-height: rem(150);
  overflow-y: auto;


  ul {
    margin-bottom: rem(0);
  }

  li {
    padding: rem(5) rem(17) rem(5) rem(17);

    &:first-child {
      padding-top: rem(10);
    }

    &:last-child {
      padding-bottom: rem(7);
    }

    &:hover {
      background-color: #f6f6f6;
      border-radius: rem(12);
    }
  }

  .search-list-items {

    display: flex;
    align-items: center;


    img {
      width: rem(32);
      height: rem(32);
    }

    span {
      font-size: rem(12);
    }

    .name {
      font-weight: 600;
      padding-left: rem(6);
    }

    .email {
      margin-left: auto;

    }
  }
}


.profile-img-name {
  text-align: right;
  max-width: rem(130);
  display: flex;
  justify-content: flex-end;
}

.profile-name-styling {
  font-size: rem(14);
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #000;
}

.small-styling {
  font-size: rem(11);
  margin: 0;
  padding: 0;
  color: #7a7e88;
}

.progress-padding {
  padding-top: rem(10);
  // width: 100%;
}

.progress-color {
  background-color: #24cc09;

}

.progressBar {
  width: 100%;
}



.progress-hieght {
  height: rem(12);
}

.progress-row {
  align-items: center;
}

.scrollbar-height {
  height: rem(180);
  // overflow-x: scroll;
}


.checkbox-sizing {
  top: rem(-54);
  width: 96%;
  left: rem(9);
}

.test-plan-cards {
  display: flex;
  flex-wrap: wrap;

  .passed {
    width: rem(130);
    font-weight: 600;
    font-size: rem(18);
    white-space: nowrap;

    &.is-gridview {
      text-align: right;
    }

    span:last-child {
      font-size: rem(14);
    }
  }
}

.is-gridview {
  width: rem(130);
  font-weight: 600;
  font-size: rem(18);
  white-space: nowrap;
  text-align: right;

  span:last-child {
    font-size: rem(14);
  }
}




// Search list Class End 


// Tooltip
// bootstrap tool tip

.tooltip-inner {
  //max-width: 200px;
  padding: 5px 8px;
  font-size: 10px;
  color: white;
  text-align: center;
  background-color: $sky-blue;
  border-radius: 6px;
  margin-right: 20px;
  border-color: $sky-blue;
  min-width: 60px;
  max-width: none;
  //margin-bottom: 10px;
  // width: auto;
  // max-width: 150px;
  // font-size: 100%;
  // white-space: nowrap;
  //position: relative;

  @include mq('lg', max) {
    margin-right: 40px;
  }
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  //position: absolute;
  border-top-color: $sky-blue;
  margin-right: 15px;
  //top: -10px;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: transparent;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: transparent;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: transparent;
}


.valign-top {
  vertical-align: top;
}

// Tooltip End 
//===========================================
// -Helper Classes end
//===========================================

// tab-filter class
.tab-filter {
  display: flex;
  justify-content: flex-end;

  .tabs-filter {
    background-color: $filter;
    border-radius: rem(20);
    text-align: center;
    display: flex;
    flex-wrap: wrap;


    li {
      list-style: none;
      display: inline-block;
    }

    .nav-link {

      background-color: $filter;
      color: $grey-light;
      font-weight: bold;
      border-radius: 30px;
      font-size: rem(14);
      width: rem(100);
      height: rem(48);
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background-color: $secondary;
        color: white;
      }
    }
  }
}

// alert box
.alert-box {
  position: absolute;
  right: rem(0);
  padding: rem(10) rem(240) rem(10) rem(50);
  border-right: none;
  height: rem(68);
  display: flex;
  align-items: center;

  img {
    margin-right: rem(20);
    width: rem(30);
  }

  i {
    font-size: rem(39);
    margin-right: rem(20);
  }

  span {
    font-size: rem(18);
    font-weight: 600;
  }


  @include mq('sm', max) {
    top: rem(20);
    padding: rem(8) rem(30) rem(8) rem(18);
  }
}


// card box
.card-box {
  border: rem(2) solid white;
  background-color: white;
  border-radius: rem(20);
  padding: rem(15) rem(20);
  box-shadow: 0 rem(4) rem(6) 0 rgba(62, 73, 84, 0.04);
}


// colored dots
.colored-dots {
  height: rem(19);
  width: rem(19);
  border-radius: 15px;
  display: inline-block;
  flex-grow: 0;
  margin-right: rem(10);
}

// colored bars
.colored-bars {
  height: rem(54);
  width: rem(14);
  border-radius: 14px;
  display: block;
  flex-grow: 0;
}

// milestone boxes
.milestone-boxes {
  width: rem(180);
  height: rem(166);
  flex-grow: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// case boxes
.case-box {
  .c100 {
    font-size: 50px;
    background-color: transparent;

    span {
      top: -7px;
      left: 0;
      text-align: center;
      width: 4em;
      font-weight: 600;
      font-size: 13px;
    }

    .slice {
      .bar {
        z-index: 1;
      }
    }

  }

}