//===========================================
// -Helper Classes start
//===========================================

.center {
  margin: auto;
}

// Search list Class

.search-list {
  box-shadow: 0 rem(10) rem(49) 0 rgba(0, 0, 0, 0.13);
  border-radius: rem(12);
  background-color: white;
  position: absolute;
  z-index: 1;
  //width: 100%;
  display: none;
  max-height: rem(150);
  overflow-y: auto;


  ul {
    margin-bottom: rem(0);
  }

  li {
    padding: rem(5) rem(17) rem(5) rem(17);

    &:first-child {
      padding-top: rem(10);
    }

    &:last-child {
      padding-bottom: rem(7);
    }

    &:hover {
      background-color: #f6f6f6;
      border-radius: rem(12);
    }
  }

  .search-list-items {

    display: flex;
    align-items: center;


    img {
      width: rem(25);
    }

    span {
      font-size: rem(10);
    }

    .name {
      font-weight: 600;
      padding-left: rem(6);
    }

    .email {
      margin-left: auto;

    }
  }
}


.profile-img-name{
  text-align: center;
  width: 33%;
}
.profile-name-styling{
  font-size: 13px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #000;
}
.small-styling{
  font-size: 11px;
  margin: 0;
  padding: 0;
  color: #7a7e88;
}
.progress-padding{
  padding-top: 10px;
  width: 106%;
}
.progress-color{
  background-color: #24cc09;
  
}

.progress-hieght{
  height: 0.5em;
}

.progress-row{
  align-items: center;
}
.scrollbar-height{
  height: 116px;
  // overflow-x: scroll;
}
.checkbox-sizing{
  top: -54px;
  width: 96%;
  left: 9px;
}
.text-plan-cards{
  display: flex;
  flex-wrap: wrap;
}


// Search list Class End 


// Tooltip
// bootstrap tool tip

.tooltip-inner {
  //max-width: 200px;
  padding: 5px 8px;
  font-size: 10px;
  color: white;
  text-align: center;
  background-color: $sky-blue;
  border-radius: 6px;
  margin-right: 20px;
  border-color: $sky-blue;
  min-width: 60px;
  max-width: none;
  //margin-bottom: 10px;
  // width: auto;
  // max-width: 150px;
  // font-size: 100%;
  // white-space: nowrap;
  //position: relative;

  @include mq('lg', max) {
    margin-right: 40px;
  }
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  //position: absolute;
  border-top-color: $sky-blue;
  margin-right: 15px;
  //top: -10px;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: transparent;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: transparent;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: transparent;
}


.valign-top {
  vertical-align: top;
}

// Tooltip End 
//===========================================
// -Helper Classes end
//===========================================