.filter-bar {
    border: rem(1) solid $grey-light-200;
    border-radius: rem(10);
    display: flex;
    align-items: center;
    padding: rem(8) rem(20);
    height: rem(42);

    .current-selection {
        font-size: rem(12);
        color: $secondary;
    }

    .seprator {
        height: 100%;
        width: rem(2);
        background-color: $grey-light-200;
        margin: 0 rem(18);
    }

    .sort-by-tabs.sort-by-tabs {
        button {
            font-size: rem(14);
        }
    }

    .filter-label {
        font-size: rem(14);

        a {
            color: black;
        }
    }
}

// Input list dropdown
.input-dropdown-list {

    .selectuser {
        border-radius: 30px;
        width: 195px;
        height: 44px;
        background: url(/assets/images/chevron-down.svg) no-repeat 92%;
        background-size: 20px;


        &::placeholder {
            color: #aaa;
        }
    }

    .search-list {
        max-height: none;

        ul {
            min-width: 193px;
        }

        .custom-control label {
            font-size: 12px;
            font-weight: normal;
            padding-left: 0;
        }

        .last-item {
            font-size: 14px;
            background-color: $secondary;
            color: white;
        }

        a:hover {
            color: white;
        }
    }

    .dropdown-list-wrapper {
        max-height: 210px;
        overflow-y: auto;
    }

}