//===========================================
// -Fonts start
//===========================================

@include font-face("family", $font-path, "Roboto-Regular", 400, "normal");

/* Fonts stacks */

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./../fonts" !default;

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$icomoon-font-family}" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Icomoon Icon Font

@font-face {
    font-family: "#{$icomoon-font-family}";
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?pzi19m") format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?pzi19m") format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?pzi19m##{$icomoon-font-family}") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

$font-types: (complete-tick: "\e90a",
    ic_edit: "\e90e",
    info-icon: "\e910",
    ic_option: "\e909",
    milestone-icon: "\e90b",
    warning: "\e90c",
    arrow-tab: "\e90d",
    date-icon: "\e90f",
    folder: "\e911",
    grid: "\e912",
    refresh: "\e913",
    row: "\e914",
    test-suites: "\e915",
    test-run: "\e916",
    rerun: "\e918",
    clipboard: "\e91a",
    unassigned: "\e91b",
    test-case: "\e91c",
    uncheck_icon: "\e903",
    check_icon: "\e907",
    pen: "\e908",
    dashboard: "\e900",
    help: "\e901",
    integration: "\e902",
    settings: "\e904",
    users: "\e905",
    milestone-2: "\e906",
);

@each $type,
$value in $font-types {
    .icon-#{$type} {
        &:before {
            content: $value;
        }
    }
}

//===========================================
// -Fonts  end
//===========================================