.integration-section {
  .integrated-with-testworthy {
    display: none;
  }

  .integrate-form {
    margin-top: rem(40);
    display: none;
    width: 100%;
    padding: rem(41) rem(52) rem(46) rem(51);
    border-radius: 30px;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    p {
      color: $grey-light;
      font-size: 18px;
    }
    .row {
      &:nth-child(2) {
        height: rem(76);
      }
    }
    .integrate-form-field {
      height: 100%;

      label {
        color: black;
        font-size: rem(18);
        margin-right: rem(47);
      }

      input {
        padding: rem(10) rem(45) rem(10) rem(24);
        background-color: $grey-light-200;
        border-radius: rem(30);
        border: none;
        outline: none;
        &::placeholder {
          color: $grey-100;
        }
      }
      .api-key-input-div {
        position: relative;
        background-color: $grey-light-200;
        border-radius: rem(30);
        padding-right: rem(24);
        .divider {
          display: block;
          background-color: $grey-400;
          width: rem(1);
          height: rem(30);
        }
        input {
          background-color: transparent;
        }
        i {
          color: $grey-300;
          font-size: rem(20);
        }
      }
    }
    .user-email-input-div {
      label {
        margin-right: rem(93);
      }
    }
  }
  .integrate {
    padding-top: rem(44);
    margin-bottom: rem(51);
  }

  .projects-integrated {
    font-size: rem(18);
    color: $grey-400;
  }

  .select-row-list {
    margin-top: rem(46);
    li {
      .hover-row-edit {
        margin-left: rem(11);
      }
      .icon-pen {
        color: $secondary;
        font-size: rem(30);
        margin-right: rem(24);
      }
      .values {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        span {
          font-size: rem(14);
        }
      }
    }
  }

  .switch {
    position: relative;
    width: rem(437);
    height: rem(46);
    border-radius: rem(30);
    color: black;
    input {
      opacity: 1;
      width: 0px;
      height: 0px;
      &:checked {
        & + .slider {
          &::before {
            transform: translateX(222px);
            content: "Testworthy Configuration";
          }
        }
      }
    }
    .slider {
      cursor: pointer;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #f4f5f9;
      border-radius: rem(30);
      display: flex;
      justify-content: space-between;
      align-items: center;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      padding-right: rem(15);
      padding-left: rem(15);
      &::before {
        border-radius: rem(30);
        position: absolute;
        content: "Jira Configuration";
        width: rem(215);
        height: rem(46);
        background-color: $secondary;
        left: 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }
  }

  .search-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    img {
      width: rem(20);
    }

    .border-line {
      border-right: rem(1) solid $grey-light;
      margin-right: rem(10);
      margin-left: rem(6);
    }

    input {
      font-size: rem(16);
      padding: rem(10) rem(45) rem(10) rem(24);
      border-radius: rem(30);
      border: rem(1) solid rgba(227, 229, 233, 0.87);
      outline: none;
      // width: rem(320);

      background-color: #fff;
      color: #aaa;

      &::placeholder {
        color: #aaa;
      }
    }
    .search-milestone-width {
      width: 34em;
    }

    .search-input {
      position: relative;
      margin-bottom: rem(10);

      .search-icon {
        position: absolute;
        right: rem(16);
        top: rem(10);
      }
    }

    button {
      padding: rem(10) rem(47);
      border-radius: rem(30);
      font-size: rem(16);
      background-color: $secondary;
      color: white;
      margin-left: rem(10);
      margin-bottom: rem(10);
    }
  }
}
