.milestone-inner-section {
    padding-top: 120px;
}

.page-nav {

    .icons {
        padding: 8px 25px;
        border-top: 1px solid #ebebeb;
        text-align: right;
    }

}


.sub-milestone-list-card {
    @include card-box;
    padding: 28px 28px;

    .sort-by {
        padding-top: 0px;
    }

    .content-row {
        .select-row {
            .creation-col {
                margin-right: 0px;
                margin-left: 0px;
            }
        }

        .select-row-list {
            .custom-checkbox label::before {
                top: 0;
            }

            li {
                box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.05);

                .test-runs-text {
                    font-size: 12px;
                    min-width: 75px;
                }

                .progress-icon {
                    min-width: 75px;
                    text-align: center;
                    margin-left: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .creation-date {
                display: grid;
                text-align: center;
                min-width: 115px;
            }

            .due-date {
                display: grid;
                text-align: center;
                min-width: 120px;
            }

            .hover-row-edit {
                min-width: 120px;

                span {
                    margin-left: 15px;

                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }


        }
    }

}