.milestone-inner-section {
    padding-top: 120px;
}

.page-option {
    padding: rem(20) rem(25) rem(16) rem(25);
    border-top: 1px solid #ebebeb;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        color: $grey-300;

        &:hover {
            color: black;
        }
    }

    i {
        font-size: rem(30);
    }
}

.sub-milestone-list-card {
    padding: rem(28) rem(28);

    .sort-by {
        padding-top: 0px;
    }

    .content-row {
        .select-row {
            .creation-col {
                margin-right: 0px;
                margin-left: 0px;
            }

            .due_date_col {
                margin-right: rem(10);
            }

            .progress_text {
                //margin-left: 0px;
            }
        }

        .select-row-list {
            &.without-icon {
                .custom-checkbox label::before {
                    top: rem(6);
                }

                .custom-checkbox label::after {
                    top: rem(6);
                }
            }

            li {
                box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.05);

                .test-runs-text {
                    font-size: rem(14);
                    min-width: rem(78);
                }

                .progress-icon {
                    min-width: rem(78);
                    text-align: center;
                    margin-left: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .creation-date {
                display: grid;
                text-align: center;
                min-width: rem(115);
            }

            .due-date {
                display: grid;
                text-align: center;
                min-width: rem(120);
            }

            .hover-row-edit {
                min-width: rem(120);

                span {
                    margin-left: rem(15);

                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }


        }
    }

    @include mq('xxl', max) {
        .content-row {
            .select-row-list {
                .creation-date {
                    // Will be remain in px
                    min-width: 70px;
                }
            }

            .select-row {
                .progress_text {
                    margin-left: 0px;
                }

                .due_date_col {
                    margin-right: 0px;
                }
            }
        }
    }

    @include mq('lg', max) {
        .content-row {
            .select-row-list {
                .creation-date {
                    text-align: left;
                    white-space: normal;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                .due-date {
                    text-align: left;
                }

                li {
                    .progress-icon {
                        justify-content: left;

                    }
                }
            }
        }
    }

    .testplan-section {
        .content-row {
            .select-row-list {
                .progress-icon {
                    margin-left: rem(85);
                }
            }

            @include mq('xxl', max) {
                .select-row {
                    .progress_text {
                        margin-left: 15px;
                    }
                }
            }

            @include mq('xl', max) {
                .select-row-list {
                    .progress-icon {
                        margin-left: 25px;
                    }
                }
            }

        }
    }
}


.status-count {
    font-size: rem(12);
    display: flex;
    align-items: center;

}

.report-table-container {
    overflow-y: auto;
}

.report-table {
    width: 100%;

    th {
        font-size: rem(12);
        color: $grey-200;
        font-weight: 400;
        white-space: nowrap;
        padding-bottom: rem(5);
    }

    thead {
        border-bottom: rem(1) solid $grey-light-200;
        padding-bottom: rem(10);
    }

    td {
        font-size: rem(14);
        white-space: nowrap;
        padding: rem(10) 0;
        padding-right: rem(5);
    }

    .report-name {
        font-size: rem(16);
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: rem(140);

        i {
            font-size: rem(30);
            color: $grey-200;
            transform: scaleX(-1);
            margin-right: rem(10);
        }

        span {
            vertical-align: super;
        }
    }
}

.report-table-btn {
    .btn {
        padding-top: rem(15);
        padding-bottom: rem(15);
    }

    @include mq('xl', max) {
        .btn {
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 10px;
        }
    }

}

.milestone-summary {
    height: rem(345);

    &__reports {
        height: 100%;
    }

    &__days {
        height: 100%;
    }

    &__status {
        height: 100%;
    }

    @include mq('lg', max) {
        height: auto;

        &__status {
            margin-bottom: 25px;
        }

        &__reports {
            height: 245px;
        }


    }
}

.milestone-chart {
    width: 100%;

    #donutChart {
        width: rem(188);
        height: rem(188);
    }

    .chart-heading {
        h1 {
            font-size: rem(40);
        }
    }

    @include mq('xxl', min) {
        width: 90%;

        .chart-heading {
            h1 {
                font-size: rem(55);
            }
        }
    }

}

.due-date {
    img {
        height: rem(80);
    }
}

.timestamp {
    font-size: rem(14);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.sub-milestones-sort {
    height: rem(56);
    border-radius: 30px;
    min-width: rem(435);

    .btn {
        min-width: rem(205);
        border-radius: 30px;
        height: rem(56);
    }

    .btn2 {
        min-width: rem(222);

    }
}

.dropmenu {
    display: inline-block;

    .fa-angle-down {
        font-size: rem(13);
    }

    .dropdown-menu {
        margin-right: 0;

    }

    i {
        color: $grey-300;
    }

    &:hover {
        i {
            color: black;
        }
    }
}

.bg-progress {
    background-image: url(../images/inprograss.svg);
    background-repeat: no-repeat;
    background-position: center rem(20);
}

.bg-late {
    background-image: url(../images/late.svg);
    background-repeat: no-repeat;
    background-position: center rem(20);
}

.bg-done {
    background-image: url(../images/done.svg);
    background-repeat: no-repeat;
    background-position: center rem(20);
}

.gridboxes__days {
    height: rem(130);

    figure {

        padding: 0;

        img {
            border-radius: rem(80);
            width: rem(117);
            height: rem(117);
        }
    }

    .assignedto {
        h5 {
            font-size: rem(12);
            color: #969ba0;
            margin: 0;
            padding: 0;
        }

        h3 {
            font-size: rem(16);
            color: #000;
            margin: 0;
            padding: 0;
            font-weight: bold;
        }
    }

    .completed-icon {

        margin-top: rem(20);

        .icon-complete-tick {
            color: #24cc09;
            font-size: rem(25);
        }
    }
}