.milestone-inner-icon-row {
    //overflow-x: hidden;
}

.icons-row {
    padding-top: 55px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    text-align: right;
    margin-left: rem(-10);
    margin-right: rem(-10);


    .icons {
        padding: 8px 25px;
    }


}

.milestone-inner-section {

    //padding-top: 65px;

    .sort-by {
        padding-top: 0px;
    }
}


.icons {
    padding: 8px 25px;
}