//===========================================
// -Home Page start
//===========================================

//main content

.main-content {
    margin-left: rem(345);
    padding: rem(0) rem(10);

    @include mq('xl', max) {
        margin-left: rem(115);
    }

    @include mq('sm', max) {
        margin-left: 0px;
        padding: 0px 0px;
    }
}

.edit-btn {
    .dropdown-menu {
        &.show {
            width: rem(202);
            height: rem(104);
            transform: translate3d(rem(-165), rem(-115), rem(0)) !important;
            padding: rem(12) rem(0);
        }
    }
}

//Edit Icon Content
.dropdown-menu {
    margin-right: rem(20);
    margin-bottom: rem(10);
    padding: rem(10) rem(0);
    font-size: rem(10);
    border-radius: rem(10);
    border: none;
    box-shadow: $shadow3;


    a {
        color: black;
        padding: rem(10) rem(25);

        &:hover {
            background-color: $filter;
        }

        // &:first-child {
        //     margin-bottom: rem(10);
        // }

        img {
            width: rem(20);
            height: rem(20);
            margin-right: rem(12);
        }

        &:last-child img {
            width: rem(21.1);
            height: rem(20);
            margin-right: rem(12);
        }

        span {
            font-size: rem(12);
        }
    }
}

.edit-content {
    display: flex;
    align-items: center;
    padding-top: rem(90);

    @include mq('sm', max) {
        position: relative;
        display: block;
    }
}

.logo-content img {
    width: rem(109);
    height: rem(109);

    @include mq('sm', max) {
        width: 70px;
        height: 70px;
    }
}

.edit-text {
    width: rem(700);
    padding-left: rem(30);
    padding-right: rem(20);

    h4 {
        font-size: rem(32);
    }


    p {
        font-size: rem(14);
        margin-bottom: 0px;
    }

    @include mq('sm', max) {
        width: 100%;
        padding: 10px 0px 0px 0px;

        p {
            display: block;
        }
    }
}

.edit-btn {
    //padding-top: rem(40);
    display: flex;
    align-items: center;

    @include mq('sm', max) {
        position: absolute;
        right: 0px;
        top: 96px;
    }

    @include mq('xl', max) {
        padding-top: 5px;
    }

}

.edit_project button {
    @include icon-circle;
    //padding: rem(8) rem(10) rem(8) rem(10);
    box-shadow: none;
    width: rem(55);
    height: rem(56);

    img {
        width: rem(20);
    }
}

.dropup,
.dropdown {
    .ellipsis {
        padding-top: rem(6);
        margin-left: rem(10);

        img {
            width: rem(38);
            height: rem(38);
        }

    }

    .dropdown-menu {
        a {
            color: black;
        }
    }
}


//Edit Icon Content Finished



// Chart & Report Row

.chart-box {
    @include card-box;
    padding: rem(20);
    //height: rem(650);
    height: 100%;

    @include mq('sm', max) {
        margin-bottom: 40px;
    }

    // h6 {
    //   font-size: rem(18);
    //   font-weight: bold;
    // }

    // span {
    //   font-size: rem(12);
    // }

}

.chart {
    canvas {
        //height: rem(520);
    }

    #myChart {
        height: rem(485);
    }

    @include mq('xxxl', max) {
        #myChart {
            height: 375px;
        }
    }
}

// Chart 
.chart-heading {
    h6 {
        font-size: rem(20);
        font-weight: bold;
        margin-bottom: rem(0);
    }

    span {
        font-size: rem(12);
        color: $grey-200;
    }
}


.chart-filter {
    @include tab-filter;


    .tabs-filter {
        .nav-link {
            font-size: rem(14);
        }
    }

    @include mq('xl', max) {
        justify-content: center;
        margin-top: 10px;
    }

    @include mq('xl', max) {

        .tabs-filter {
            margin-bottom: 0px;

            .nav-link {
                font-size: 11px;
            }
        }
    }
}

.filter-date {
    display: flex;
    justify-content: flex-end;

    span {
        font-size: rem(16) !important;

        i {
            font-size: rem(23);
        }
    }
}


.date-picker {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f4f5f9;
    //border-radius: 17px;
    border-radius: 30px;

    input {
        background-color: #f4f5f9;
        outline: none;
        padding: rem(11) rem(0) rem(11) rem(10);
        border: none;
        border-radius: 17px;
        font-size: rem(12);
    }

    span {

        background-color: #f4f5f9;
        //padding: rem(5) rem(10);
        padding: rem(16) rem(16);
        // border-radius: rem(20);
        border-radius: 26px;
        right: rem(0);
        width: rem(48);
        height: rem(48);
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: $grey-500;
            font-size: rem(22);
        }
    }

    .clear {
        padding: rem(0);
        font-size: rem(20);
        color: $danger;
        margin-right: rem(5);
    }
}

.report-row {
    img {
        //height: rem(660);
    }

    .chart-date {
        display: flex;
        justify-content: flex-end;

        span {

            background-color: #f4f5f9;
            padding: rem(5) rem(10);
            border-radius: 20px;

            i {
                color: $grey-500;
                font-size: rem(22);
            }
        }

        .date-picker {

            input {
                padding: rem(11) rem(0) rem(11) rem(10);
                font-size: rem(12);
            }

            .clear {
                padding: rem(0);
                font-size: rem(20);
            }
        }
    }
}



// Chart End

.report-box {

    height: 100%;
    // align-items: right;
    // img{
    //     width: rem(300);
    // }
}


// Test Cards Row

.test-card {
    @include card-box;
    box-shadow: 0 12px 23px 0 rgba(62, 73, 84, 0.04);
    // height: 90%;
    margin-bottom: rem(20);

    h6 {
        font-size: rem(20);
        font-weight: bold;
    }

    span {
        font-size: rem(14);
    }
}

.test-row-text {
    h6 {
        display: inline-block;
        padding-right: rem(20);
        padding-bottom: rem(5);
    }

    a {
        color: $secondary;

        &:hover {
            text-decoration: underline;
        }
    }

    @include mq('sm', max) {
        margin-bottom: 10px;
    }

}

.icon-box {
    i {
        font-size: rem(27);
        color: $secondary;

    }

    img {
        width: rem(30);
    }

    h6 {
        padding-top: rem(10);
        font-size: rem(24);
    }

    span {
        display: block;
        font-size: rem(14);
    }

    @include mq('sm', max) {
        margin-bottom: 15px;
    }
}

.icon-box2 {
    display: inline-block;

    i {
        font-size: rem(32);
        color: $secondary;
        margin-right: rem(10);
    }

    img {
        width: rem(33);
        margin-top: rem(-40);
    }

    p {
        padding-top: rem(15);
        font-size: rem(14);
    }
}

.icon-box2-text {
    display: inline-block;
    padding-top: rem(10);

    span {
        display: block;
        padding-bottom: rem(30);
    }
}

// End Test Cards Row



// Milestone Section

.milestone {
    @include card-box;
    padding: rem(30);
    height: 100%;
    display: flex;
    align-items: center;

    h6 {
        font-size: rem(20);
        font-weight: bold;
    }

    span {
        font-size: rem(12);
    }

    .boxes-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .milestone-head {
        margin-bottom: rem(40);
    }

    .milestone-text-row {

        display: flex;
        align-items: center;
        margin-bottom: rem(20);

        .milestone-bar {
            margin-right: rem(20);

            .complete-bar {
                @include colored-bars($green-light);
            }

            .delay-bar {
                @include colored-bars($danger-light-100);
            }

            .bar1 {
                @include colored-bars($blue);

            }

            .bar2 {
                @include colored-bars($sky-blue);

            }

            .bar3 {
                @include colored-bars($sky-blue-100);
            }

            .bar4 {
                @include colored-bars($sky-light);
            }
        }

        .milestone-text {
            .milestone-progress-head {
                display: flex;
                flex-wrap: nowrap;

                .icon-warning {
                    color: $danger;
                }

                .icon-complete-tick {
                    color: $success-light;
                }

                i {
                    margin-left: rem(20);
                    font-weight: 600;
                    width: rem(18);
                    height: rem(18);
                }
            }

            h6 {
                font-size: rem(18);
                font-weight: bold;
            }

            span {
                display: block;
                font-weight: normal;
                font-size: rem(14);
                color: rgba(0, 0, 0, 0.6)
            }
        }
    }
}

.milestone-box-complete {
    @include milestone-box($green-light);
    margin-bottom: rem(30);
    margin-right: rem(30);


    span {
        i {
            font-size: rem(112);
            color: white;
            font-weight: 600;
        }
    }


}

.milestone-box-delay {
    @include milestone-box($danger-light-100);
    margin-bottom: rem(30);

    .c100:after {
        background-color: $danger-light-100;
    }
}


.milestone-box1 {
    @include milestone-box($blue);
    margin-right: rem(30);
    margin-bottom: rem(30);

    .c100:after {
        background-color: $blue;
    }
}

.milestone-box2 {
    @include milestone-box($sky-blue);
    margin-bottom: rem(30);


    .c100:after {
        background-color: $sky-blue;
    }
}

.milestone-box3 {
    @include milestone-box($sky-blue-100);
    margin-right: rem(30);



    .c100:after {
        background-color: $sky-blue-100;
    }
}

.milestone-box4 {
    @include milestone-box(white);
    border: 2px solid $primary-color-blue;

    .c100 {
        background-color: #eaeaea;

        &:after {
            background-color: rgb(255, 255, 255);
        }

        >span:first-child {
            color: $primary-color-blue;
        }

        .text {
            color: $primary-color-blue;
        }
    }

}

.milestone-box {
    @include mq('lg', max) {
        max-width: 23%;
    }

    @include mq('sm', max) {
        max-width: 60%;
        margin: 0 auto;
    }
}


// Milestones Circle
// classes 2 extend

.rect-auto {
    clip: rect(auto, auto, auto, auto);
}

.pie {
    position: absolute;
    border: $circle-width solid black;
    width: 1 - (2 * $circle-width);
    height: 1 - (2 * $circle-width);
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;

    transform: rotate(0deg);
}

.pie-fill {
    transform: rotate(180deg);
}

.c100 {

    *,
    *:before,
    *:after {
        box-sizing: content-box;
    }

    position: relative;
    font-size: rem(120);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    background-color: $grey;

    // centered value inside circle
    >span:first-child {
        position: absolute;
        width: 100%;
        z-index: 1;
        left: rem(-60);
        top: rem(-67);
        width: 5em;
        line-height: 5em;
        font-size: rem(48);
        font-weight: 600;
        color: rgb(255, 255, 255);
        display: block;
        text-align: center;
        white-space: nowrap;
        transition: all 0.2s ease-out;

        @include mq('xl', max) {
            // left: -44px;
            // top: -50px;
        }

        @include mq('sm', max) {
            // left: -38px;
            // top: -46px;
        }
    }

    .text {
        position: absolute;
        width: 100%;
        z-index: 1;
        left: rem(25);
        top: rem(47);
        width: 5em;
        line-height: 5em;
        font-size: rem(14);
        font-weight: 600;
        color: white;
        display: block;
        text-align: center;
        white-space: nowrap;
        transition: all 0.2s ease-out;

        @include mq('sm', max) {
            left: rem(28);
            top: rem(48);
        }
    }

    // background inside the circle
    &:after {
        position: absolute;
        top: $circle-width;
        left: $circle-width;
        display: block;
        content: " ";
        border-radius: 50%;
        background-color: white;
        width: 1 - (2 * $circle-width);
        height: 1 - (2 * $circle-width);
        transition: all 0.2s ease-in;

    }

    // the slice (mask)
    .slice {
        position: absolute;
        width: 1em;
        height: 1em;
        clip: rect(0em, 1em, 1em, 0.5em);

    }

    // circle to show the status
    .bar {
        @extend .pie;
    }

    // loop to create all needed elements automatically
    @for $j from 51 through 100 {

        &.p#{$j} .slice {
            @extend .rect-auto;
        }

        &.p#{$j} .bar:after {
            @extend .pie-fill;
        }

        &.p#{$j} .fill {
            @extend .pie;
            @extend .pie-fill;
        }

    }

    // loop to rotate all 100 circles
    @for $j from 1 through 100 {
        &.p#{$j} .bar {
            transform: rotate((360/100*$j) + deg);
        }
    }

    // hover styles
    // &:hover {

    //     cursor: default;

    //     >span {
    //         width: 3.33em;
    //         line-height: 3.33em;
    //         font-size: 0.3em;
    //         color: $primary-color-span;
    //     }

    //     &:after {
    //         top: $circle-width-hover;
    //         left: $circle-width-hover;
    //         width: 1 - (2 * $circle-width-hover);
    //         height: 1 - (2 * $circle-width-hover);
    //     }

    // }

    // blue
    &.blue {

        .bar,
        .fill {
            border-color: $primary-color-blue !important;
        }

        // &:hover {
        //     >span {
        //         color: $primary-color-span;
        //     }
        // }

    }


    // white skin
    &.white {

        .bar,
        .fill {
            border-color: $primary-color-white !important;
        }
    }


    // green skin
    &.green {

        .bar,
        .fill {
            border-color: $primary-color-green !important;
        }
    }
}

// End Milestones Circle


// Test Changes Row
.test-changes {

    .tab-content {
        .tab-pane {
            height: rem(600);
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    .tabs-row {
        display: flex;
        align-items: center
    }

    @include card-box;
    background-color: white;

    h6 {
        font-size: rem(18);
        font-weight: bold;
    }

    span {
        font-size: rem(12);
    }
}

.btn-tab {

    border: rem(1) solid $primary;
    background-color: $primary;
    width: rem(350);
    border-radius: 30px;
    height: rem(48);

    a {
        color: black;
    }

    .active {
        background-color: $secondary;
        font-weight: 500;

        a {
            color: #fff;
        }

    }

    button {
        color: black;
        border-radius: 30px;
        padding-left: rem(20);
        padding-right: rem(20);
        font-size: rem(20);
        font-weight: bold;
        width: rem(184);
        height: rem(48);
    }

    .btn-tab .active a {
        color: #fff;
    }


    .btn2 {
        float: right;
        width: rem(155);
    }
}


.tab-details {
    .border_class {
        border-bottom: 1px solid #EBEBEB;
    }
}

.custom-tabs {
    .nav-item {
        margin-right: rem(30);
    }

    .nav-link {

        background-color: white;
        color: $grey-light;
        border-radius: rem(30) rem(30) rem(0) rem(0);
        font-size: rem(18);
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: rem(11) rem(24) rem(8) rem(24);

        &.active {
            background-color: $filter;
            color: black;
        }
    }
}


.dot1 {
    @include colored-dots($success-100);
}

.dot2 {
    @include colored-dots($danger-100);
}

.dot3 {
    @include colored-dots($warning);
}

.dot4 {
    @include colored-dots($grey-100);
}


.dot5 {
    @include colored-dots($navy-blue);
}

.dot6 {
    @include colored-dots($secondary);
}


.date-status {
    margin-bottom: rem(50);

    span {
        font-size: rem(20);
        font-weight: bold;
    }
}

//============================


.user {
    padding-right: rem(20);

    @include mq('sm', max) {
        float: right;
        padding-bottom: 0px;
        padding-right: 8px;
    }
}

.user-text {
    padding: rem(20) rem(10) rem(0) rem(10);
    font-size: rem(14);

    p {
        @include size-color(rem(10), $grey-light);
    }

    @include mq('sm', max) {
        padding: 0px 0px 0px 0px;
        font-size: 10px;
        display: inline-block;
        padding-right: 5px;
        margin-top: 6px;

        p {
            font-size: 8px;

        }
    }
}


.user-icon {

    padding-right: rem(45);
    padding-left: rem(10);

    span {
        img {
            width: rem(44);


            @include mq('sm', max) {
                width: 35px;
            }
        }

    }


    @include mq('sm', max) {
        display: inline-block;
        padding-right: 25px;
        margin-top: -10px;
        padding-left: 0px;
    }
}

.user-group {
    display: flex;
    align-items: center;
}

//================================

.changes-row {
    display: flex;
    align-items: center;

    button {
        color: white;
        border-radius: 20px;
        padding-left: rem(35);
        padding-right: rem(35);
        font-size: rem(16);
        font-weight: 500;
        margin-right: rem(15);
        height: rem(49);
        min-width: rem(151);
    }

    .icon-user-text {
        display: flex;
        align-items: center;
        margin: rem(0);

        p {
            color: rgba(0, 0, 0, 0.8);
            padding-top: rem(5);
        }
    }

    .text-user {
        font-size: rem(16);
        padding-left: rem(10);

        p {
            @include size-color(rem(14), $grey-light);
            color: rgba(0, 0, 0, 0.8);
            padding-top: rem(5);
            margin: rem(0);
        }

        @include mq('sm', max) {
            padding: 0px 0px 0px 0px;
            font-size: 10px;
            display: inline-block;
            padding-right: 5px;
            margin-top: 6px;

            p {
                font-size: 8px;
            }
        }
    }

    .icon-user {
        padding-right: rem(0);

        span {
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: rem(50.1);
                height: rem(49);
            }
        }
    }

    .tested-time {
        span {
            font-size: rem(16);
        }

        p {
            font-size: rem(14);
            margin-top: rem(-5);
            color: rgba(0, 0, 0, 0.8);
            margin: rem(0);
        }
    }

    .btn-text {
        display: flex;
        align-items: center;

        span {
            font-size: rem(16);
        }
    }

    @include mq('lg', max) {
        .btn-text {
            span {
                font-size: 12px;
            }
        }

        button {
            font-size: 12px;
        }

        .tested-time {
            span {
                font-size: 12px;
            }

            p {
                font-size: 10px;
            }
        }

        .text-user {
            font-size: 12px;
        }
    }

    @include mq('sm', max) {
        .btn-text {
            flex-wrap: wrap;
            margin-bottom: 10px;

            button {
                margin-bottom: 10px;
            }
        }

        .icon-user-text {
            margin-bottom: 10px;
        }

        .tested-time {
            margin-bottom: 10px;
        }

        .icon-user {
            padding-right: 10px;
        }
    }
}



// History Tab
.history-filter {
    @include tab-filter;

    @include mq('xl', max) {
        justify-content: center;
    }
}

.history-row {
    .border_class {
        margin: 0px;
        border-bottom: 1px solid #EBEBEB;
        display: flex;
        align-items: center;

        .col1 {
            padding-left: 0px;
        }

        .col2 {
            padding-right: 0px;
        }
    }

    .tabs-filter {
        margin-bottom: 0px;
    }

    .changes-row {
        button {
            color: $secondary;
            border-radius: rem(20);
            padding-left: rem(17);
            padding-right: rem(17);
            font-size: rem(14);
            font-weight: 500;
            margin-right: rem(15);
        }

        .tested-time {

            p {
                margin-top: rem(-5);
                color: rgba(0, 0, 0, 0.8);
                margin: rem(0);
            }
        }

    }

    .btn-text {
        img {
            width: rem(16);
        }

        span {
            padding-right: rem(4);
        }
    }
}