// // Test Plan Page CSS 

.testplan-section {
    .sort-by {
        .sort-by-filter {
            label {
                margin: rem(0) rem(18) rem(0) rem(6);
            }
        }

        .sort-by-tabs {
            margin-left: rem(25);
        }
    }

    .content-row {
        .select-row-list {
            li {
                &:hover {
                    .assigned-to {
                        display: none;
                    }

                    .unassigned {
                        display: none;
                    }
                }

                .unassigned {
                    font-size: rem(20);
                    color: $secondary;
                    margin-right: 60px;
                }
            }

            .assigned-to {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                margin-right: rem(35);
                font-size: rem(12);

                .assigned-to-profile {
                    margin-right: 15px;

                    img {
                        width: 40px;
                    }
                }

                .assigned-to-text {
                    display: flex;
                    flex-direction: column;

                    span {
                        &:first-child {
                            margin-bottom: 4px;
                        }
                    }
                }
            }

            .progress-icon {
                margin-left: rem(96);
            }
        }

        .select-row {
            .assigned-to-col {
                margin-left: auto;
                margin-right: 20px;
            }
        }


        @include mq('xxl', max) {
            .select-row-list {
                .progress-icon {
                    margin-left: rem(75);
                }

            }

        }

        @include mq('xl', max) {

            .select-row-list {
                .progress-icon {
                    margin-left: rem(40);
                }

            }
        }


        @include mq('lg', max) {

            .select-row-list {


                .progress-icon {
                    margin-left: rem(60);
                }
            }

        }

        @include mq('sm', max) {
            .sort-by {

                .sort-by-tabs {
                    margin-left: rem(0);
                }
            }


            .select-row-list {
                li {
                    padding-right: rem(20);
                }
            }

        }
    }
}



// Add Test Plan CSS

.addtestplan {

    .sort-by {
        display: block;
    }

    .date-status {
        margin-bottom: 25px;
        display: flex;
        flex-flow: column wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
    }

    h6 {
        font-weight: 600;
    }

    .describe {
        min-height: 138px;
    }

    .empty-posts {
        flex-grow: 0;
        padding: 15px 0 20px 20px;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #eeeeee;

        h4 {
            font-size: 18px;
            color: #7a7a7a;
            margin-bottom: 5px;
        }

        h5 {
            font-size: 14px;
            color: #a4a4a4;
            padding: 0;
            margin: 0;
        }


        .boxes {
            display: flex;

            .icon-info-icon {
                font-size: 24px;
                color: #7a7a7a;
                margin: 10px 15px 10px 0;
            }
        }
    }

    .add-circle-icon {
        margin-top: 5px;

        a {
            display: block;
            width: 40px;
            height: 40px;
            color: #ccc;
            padding: 9px;
            text-align: center;
            border-radius: 50px;
            border: 1px solid #ccc;

            &:hover {
                color: #fff;
                background: $secondary;
                border: 1px solid $secondary;
            }
        }
    }

    .empty-posts.hidebg {
        background: none;

        .boxes {
            display: none;
        }
    }

    .testplans-list {

        height: 200px;

        .table {

            table-layout: fixed;
            width: 100%;
            font-size: 14px;
            border-collapse: collapse;

            thead {

                tr {
                    display: block;
                    background: #eee;
                    border-radius: 20px;
                }

                th {
                    font-size: 13px;
                    color: #b5b8bc;
                    border: 0;
                    border-style: solid none;
                    padding: 10px;
                    background-color: #eee;
                    vertical-align: middle;

                    &:first-child {
                        border-left-style: solid;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                }

                .names {
                    padding-left: 15px;
                }

                .assignedto {
                    padding-left: 15px;
                }

            }

            tbody {

                height: 240px;
                overflow-y: scroll;
                display: block;
                padding: 0 5px;

                tr {
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    background-color: white;
                    border-spacing: 5em;
                    position: relative;
                    display: block;
                    margin: 5px 0 10px;
                    border-radius: 10px;

                    &:hover {

                        .edit-icon,
                        .trash-icon {
                            display: inline-block;
                        }
                    }
                }

                td {
                    vertical-align: middle;
                    border: 0;
                    padding: 5px;
                    position: relative;

                    &:first-child {
                        border-radius: 10px 0 0 10px;
                        border: 0;
                    }

                    &:last-child {
                        border-radius: 0 10px 10px 0;
                        border: 0;
                    }

                    .edit-icon {
                        position: absolute;
                        right: 20%;
                        display: none;

                        a {
                            color: #dfe1e6;
                        }
                    }

                    .trash-icon {
                        position: absolute;
                        right: 10px;
                        display: none;

                        a {
                            color: #e3e4e9;

                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }

                .checks {
                    padding-left: 10px;
                }

            }

        }

        .checks {
            width: 38px;
        }

        .names {
            width: 340px;
        }

        .cases {
            width: 150px;
        }

        .configuration {
            width: 200px;
        }

        .assignedto {
            width: 170px;

        }

        .suites {
            width: 415px;
        }

        .assignedto {
            figure {

                display: flex;
                margin-bottom: 0;
                margin-top: 5px;

                img {
                    width: 30px;
                    height: 30px;
                }

                label {
                    margin-bottom: 0;
                }
            }

            span {
                margin-left: 10px;
                font-size: 13px;

                label {
                    display: block;
                    font-size: 12px;
                }
            }


        }


        .formrelative {
            position: relative;
            bottom: 0;
            right: 0;
            padding: 0 0 20px 0;
        }

    }
}


.bs-popover-bottom {
    font-size: 12px;
}

.form-control:focus {
    border-color: unset;
}

.selectuser {
    background: url("/assets/images/chevron-down.svg") no-repeat 98%;
}

form {

    .form-control {
        font-size: 14px;
        margin-bottom: 20px;
        border: 1px solid #b6b9bd;
        color: #000;
        opacity: 0.6;
        height: 45px;
    }

    select {
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 5px;
        height: 34px;
        background: url("/assets/images/chevron-down.svg") no-repeat right;
        -webkit-appearance: none;
        background-position-x: 98%;

    }

    .selectuser {
        background: url("/assets/images/chevron-down.svg") no-repeat 98%;
    }

    option {
        color: #000;
    }

    .assigned-to-users {
        width: 96%;
        top: 74px;
    }

    #testsuite_list {
        width: 95%;
        top: 166px;
    }

    .common-list {

        ul {
            li {
                padding: 8px 10px;
                font-size: 12px;
                font-weight: bold;
            }

            .last-item {
                background: $secondary;
                text-align: center;

                &:hover {
                    border-radius: 0;
                }

                a {
                    color: #fff;
                    font-weight: normal;

                    .icon-icon-plus {
                        padding: 0 5px;
                    }
                }
            }
        }
    }

}

// Inputs Placeholders

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c4c4c4;
    opacity: 0.6;

}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c4c4c4;
    opacity: 0.6;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c4c4c4;
    opacity: 0.6;
}